$font-family-settings: (
    'responsive': false,
    'hover': false,
    'focus': false,
    'classname' : 'ff',
    'property' : 'font-family'
);



.ff-sans {
    font-family: "acumin-pro-condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ff-serif {
    font-family: "abril-text", Georgia, serif;
}
.ff-titles {
    font-family: "acumin-pro-extra-condensed", Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black", sans-serif;
}
