@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=436b19f3-268a-488a-b00c-0690fc43645b");
@font-face{
    font-family:"MTBaskerville";
    font-style: normal;
    font-weight: 400;
    src:url("Fonts/adc2cf2f-eda1-4e80-b710-c7b0ed9723c9.eot?#iefix");
    src:url("Fonts/adc2cf2f-eda1-4e80-b710-c7b0ed9723c9.eot?#iefix") format("eot"),url("Fonts/00298e8a-b355-4b96-a6fe-5f1e04bf8aa9.woff2") format("woff2"),url("Fonts/ddbb08f6-d694-4847-b488-7ef5f43b7ade.woff") format("woff"),url("Fonts/5c9c6048-4848-4567-b43d-8dc064665296.ttf") format("truetype");
}
@font-face{
    font-family:"MTBaskerville";
    font-style: italic;
    font-weight: 400;
    src:url("Fonts/cb7cbd4d-a7e1-4e3e-9ba9-73e1e204be78.eot?#iefix");
    src:url("Fonts/cb7cbd4d-a7e1-4e3e-9ba9-73e1e204be78.eot?#iefix") format("eot"),url("Fonts/9c219902-ee94-4725-aca9-3724b5506fdc.woff2") format("woff2"),url("Fonts/81d5bf1e-1db2-469f-b5d7-b41cff6a1a12.woff") format("woff"),url("Fonts/e25c55fc-319b-44b0-a8c6-cf4718019f3a.ttf") format("truetype");
}
@font-face{
    font-family:"Neue Plak Text";
    font-style: normal;
    font-weight: 400;
    src:url("Fonts/c9818139-3ea8-46ab-88cb-5f372df2a521.eot?#iefix");
    src:url("Fonts/c9818139-3ea8-46ab-88cb-5f372df2a521.eot?#iefix") format("eot"),url("Fonts/30562017-11d1-43be-a6b5-5ce6072c1212.woff2") format("woff2"),url("Fonts/aca348e5-6cfc-4be2-9bc9-ddd99eb40ced.woff") format("woff"),url("Fonts/9317e8d3-a95e-431a-90ae-3174bc21040f.ttf") format("truetype");
}
@font-face{
    font-family:"Neue Plak Text";
    font-style: normal;
    font-weight: 700;
    src:url("Fonts/b7791d0e-9256-4363-bdee-341e8fe48960.eot?#iefix");
    src:url("Fonts/b7791d0e-9256-4363-bdee-341e8fe48960.eot?#iefix") format("eot"),url("Fonts/6c2e69f9-bc7a-47b1-98df-ad974f148505.woff2") format("woff2"),url("Fonts/35cc4b2d-2d06-4e3a-869e-744d94b2485f.woff") format("woff"),url("Fonts/ee211a9e-7fc7-4cad-85c2-1a29136d86c4.ttf") format("truetype");
}
@font-face{
    font-family:"Neue Plak Cond";
    font-style: normal;
    font-weight: 600;
    src:url("Fonts/7d2ad283-37ab-4fbf-a453-1fb27010d0f1.eot?#iefix");
    src:url("Fonts/7d2ad283-37ab-4fbf-a453-1fb27010d0f1.eot?#iefix") format("eot"),url("Fonts/81d5c569-fcd3-4fd2-afd4-0c166e9cf941.woff2") format("woff2"),url("Fonts/420a13bf-b41f-4d05-8254-9a263b7270c9.woff") format("woff"),url("Fonts/7a32e5a4-6b98-4577-b520-fe2beb722d52.ttf") format("truetype");
}
@font-face{
    font-family:"ITCPortago";
    font-style: normal;
    font-weight: 400;
    src:url("Fonts/d5a62e4c-857b-4fe3-bd62-9bc6e2909277.eot?#iefix");
    src:url("Fonts/d5a62e4c-857b-4fe3-bd62-9bc6e2909277.eot?#iefix") format("eot"),url("Fonts/e7028e83-2b56-44c4-9e01-56ed68f6474a.woff2") format("woff2"),url("Fonts/7e4728d1-448e-43fd-ab8f-dc5af47be23a.woff") format("woff"),url("Fonts/57eb93a6-78e7-4f3c-ac7b-66d58a301b0a.ttf") format("truetype");
}
