.button {
    font-family: "acumin-pro-condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    @include typesize(16, 32);
    height: rem(36);
    display: inline-block;
    padding-left: rem(24);
    padding-right: rem(24);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border: 2px solid map-get($colors, 'black');
    background-color: map-get($colors, 'white');
    box-shadow: 6px 6px 0px 0px map-get($colors, 'grey');
    white-space: nowrap;
    &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'white');
    }

}
