@mixin heading-1 {
    font-family: "acumin-pro-extra-condensed", Impact, Haettenschweiler, "Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
    font-weight: 400;
    @include typesize(36, 36);
    @include mq('lg') {
        @include typesize(48, 48);
    };
}

.heading-1 {
    @include heading-1;
}


@mixin heading-2 {
    font-family: "acumin-pro-extra-condensed", Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
    font-weight: 400;
    @include typesize(24, 24);
    @include mq('lg') {
        @include typesize(36, 36);
    };

}

.heading-2 {
    @include heading-2;
}

@mixin heading-3 {
    font-family: "acumin-pro-extra-condensed", Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
    font-weight: 400;
    @include typesize(18, 18);
    @include mq('lg') {
        @include typesize(24, 24);
    };
}

.heading-3 {
    @include heading-3;
}

@mixin heading-4 {
    font-family: "acumin-pro-condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    @include typesize(16, 18);
    @include mq('md') {
        @include typesize(20, 24);
    };
}

.heading-4 {
    @include heading-4;
}
